@import "tailwindcss";


html, body{
  scroll-behavior: auto;
  overscroll-behavior: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

section{
  min-height: 100vh;
}
.writing-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.scrollbar-hide::-webkit-scrollbar{
  display: none;
}
.scrollbar-hide{
  scrollbar-width: none;
}
main{
  background-color: #000;
}